name: Package Java App

on:
  push: 
    branches: [ main ]

jobs:
 compile:
  runs-on: ubuntu-latest
  steps:
     - uses: actions/checkout@v4
     - name: compile
       run: mvn compile
    
   
 test:
  runs-on: ubuntu-latest
  needs: compile
  steps:
     - uses: actions/checkout@v4
     - name: test
       run: mvn test

 package:
   runs-on: ubuntu-latest
   needs: test
   steps:
     - uses: actions/checkout@v4
     - name: package
       run: mvn package
       
 docker:
   runs-on: ubuntu-latest
   needs: package
   steps:
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: vmkgadi/boardgame:latest
