name: Package Java App

on:
  push: 
    branches: [ main ]

jobs:
 compile:
  runs-on: ubuntu-latest
  steps:
     - uses: actions/checkout@v4
     - name: compile
       run: mvn compile
    
   
 test:
  runs-on: ubuntu-latest
  needs: compile
  steps:
     - uses: actions/checkout@v4
     - name: test
       run: mvn test

 package:
   runs-on: ubuntu-latest
   needs: test
   steps:
     - uses: actions/checkout@v4
     - name: package
       run: mvn package
       
    
