name: Package Java App

on:
 push: 
  branches: [ "main" ]

jobs:
 compile:
  runs-on: self-hosted
  steps:
     - uses: actions/checkout@v4
     - name: compile
       run: mvn compile
    
   
 test:
  runs-on: self-hosted
  needs: compile
  steps:
     - uses: actions/checkout@v4
     - name: test
       run: mvn test

 package:
   runs-on: self-hosted
   needs: test
   steps:
     - uses: actions/checkout@v4
     - name: package
       run: mvn package
    
